@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

body {
	 margin: 0 !important;
	 overflow: hidden !important;
}

#container {
	 display: flex;
	 flex-flow: column nowrap;
	 align-items: stretch;
	 align-content: stretch;

	 width: 100vw;
	 height: 100vh;

	 font-family: 'Galindo', cursive;
}

#container * {
	 flex: 1;

	 background: MediumSlateBlue;
}

#clicker-container {
	 flex: 0.5;

	 background: SlateBlue;
}

#inventory {
	 padding: 1em;
	 width: 100%;
	 
	 table-layout: fixed;
}

#inventory img {
	 width: 1em;
	 height: 1em;
}

/* The progress bar. */

#clicker {
	 height: 100%;
	 
	 background: orange;
}

/* For desktops. */

@media only screen and (min-width: 768px) {
	 #container {
		  flex-flow: row nowrap;
	 }
}
